.btn-primary {
    background-color: #5b5ff3;
    border-radius: 10px;
    color: whitesmoke;
}

.btn-primary:hover {
    background-color: #0f31e6;
    border-radius: 10px;
    color: whitesmoke;
}


.btn-secondary{
    background-color: #ff2c2c;
    border-radius: 10px;
    color: whitesmoke;
}

.btn-secondary:hover {
    background-color: #c20000;
    border-radius: 10px;
    color: whitesmoke;
}