body {
    font-family: "Poppins", sans-serif;
    color: white;
}

/* ------------------  esto es del header? */
/* offcanvas */
.offcanvas-header {
    background-color:rgb(46, 46, 46);
}

.offcanvas-body {
    background-color:rgb(46, 46, 46);
}

/* ----------------------------------------- */
/* hero */

.hero-content {
    width: 100%;
    text-align: left; 
    padding: 2rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-content h1 {
    animation: slide-in-left 1.2s forwards;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 3em;
}

.hero p {
    animation: slide-in-left 1.5s forwards;
}

.hero-content .btn {
    background-color: #d4af37;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    animation: slide-in-left 2s forwards;
}

.hero {
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* ------------------------------ */
/* Banner */

.mivideo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.banner {
    width: 100%;  
    height: 100vh;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    flex-direction:column;
}

.recuadro {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    border: white solid 1px;
    font-family: 'Poppins';
    padding: 20px;
    border-radius: 15px; 
    align-items: center;
    font-size: 0.75rem;
    justify-content: space-around;
    z-index: 1;
    visibility: hidden;
}

.recuadro h2 {
    font-size: 1rem;
}

.izquierda {
    width: 90%;
    display: flex;
    align-items: center;
}

.derecha {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    background-color: transparent;
    border-radius: 10px;
}

@media (min-width: 718px) {
    .recuadro{
        flex-direction: row;
        font-size: 0.90rem;
    }
    .izquierda {
        width: 30%;
        margin:2%;
    }
    .derecha {
        width: 70%;
        margin:2%;
    }
    .recuadro h2 {
        font-size: 1.5rem;
    }

}

@media (min-width: 950px) {
    .recuadro{
        font-size: 1.5rem;
    }
    .recuadro h2 {
        font-size: 2.5rem;
    }
}

.fila_banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: transparent ;
}


#essentialpadre{
    width: 33.333%;
    padding: 10px;
    background-color: grey;
    border-top-left-radius: 15px; /* Radio de borde en la esquina superior izquierda */
    border-top-right-radius: 15px;
}
#extrapadre{
    width: 33.333%;
    padding: 10px;
    background-color: transparent;
    border-top-left-radius: 15px; /* Radio de borde en la esquina superior izquierda */
    border-top-right-radius: 15px;
}
#deluxepadre{
    width: 33.333%;
    padding: 10px;
    background-color:transparent;
    border-top-left-radius: 15px; /* Radio de borde en la esquina superior izquierda */
    border-top-right-radius: 15px;
}


#essential {
    background-color: rgb(197, 110, 40);   
}

#extra {
    background-color: blue;   
}

#deluxe {
    background-color: rgba(255, 217, 0, 0.658);   
}


.detallesuscripcion{
    background-color: grey;
    border-bottom-left-radius: 15px; /* Radio de borde en la esquina superior izquierda */
    border-bottom-right-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detalle_sus_izquierda{
    width: 60%;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detalle_sus_derecha p{
    font-size: medium;
}


.suscriptionbox {
    border-radius: 10px;  
}
.suscriptionbox:hover {
    cursor: pointer;   
}

.precioanterior {
    text-decoration: line-through;
}



.timer {
    width: auto;
    margin-left: 2px;
}


@media (max-width: 576px) {

    .izquierda{
        width: 100%;
    }
    .derecha{
        width: 100%;
    }


    
    #essentialpadre{
        padding: 4px;
    }
    #extrapadre{
        padding: 4px;
    }
    #deluxepadre{
        padding: 4px;
    }

    #essential {
        font-size: medium;
    }
    
    #extra {
        font-size: medium;
    }
    
    #deluxe {
        font-size: medium;
    }

    .detallesuscripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
    }
    .detalle_sus_izquierda{
        width: 100%;
    }
    .detalle_sus_izquierda p {
        width: 100%;
        padding: 8px 16px;
    }
    .detalle_sus_derecha p {
        font-size: 12px;
        width: 100%;
        margin-bottom: 5px;        
    }
    .timer{
        padding: 4px;
    }

}
.mostrarsuscripciones{
    display: inline;
    z-index: 1;
    height: 10%;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    border: solid white 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    font-size: large;
    font-weight: 400;
}

.mostrarsuscripciones:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

/* ------------------------------------------------------------------------------- /
/ testimonial */

.testimonial {
    background-color: black;
}

.testimonial .carousel-item p {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.testimonial .carousel-item strong {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
}