body {
    font-family: "Poppins", sans-serif;
    color: white;
}

#barra {
    width: 100%;
}  

/* header nav { 
    
}
  */

.prueba {
    position: absolute;
    bottom: 1rem;
    left: 45%;
    width: 10%;
    text-align: center;
}
.prueba img {
    /* background-color: black; */
    height: 4rem;
    width: 4rem;
    animation-duration: 1s;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  header {
    position: fixed;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 0.5rem 2rem;
    transition: 3000;
    transition-duration: 500ms;
    color: white;
}

.bg-black{
    background-color: rgba(17, 17, 17, 0.757); /* Fondo semi-transparente */

}

.dropdown-toggle::after {
    display: none !important;
}



.boton_navegacion {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    font-size: x-large;
}

.boton_navegacion:hover {
    color: white;
}

.dropdown-item {
    z-index: 1000;
}



#barra {
    background-color: none;
}

#barra h1{
    font-size: x-large;
    font-weight: 700;
    margin-top: 3px;
    
}



.nombre{
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    font-size: x-large;
    margin:0px;
    }

.nombre:hover {
    text-decoration: none;
    color: white;

}

/* ------------------ */
/* offcanvas */
.offcanvas-header {
    background-color:rgb(46, 46, 46);
}

.offcanvas-body {
    background-color:rgb(46, 46, 46);
}









/* ------------------------------ */
/* Banner */

.banner {
    width: 100%;  
    height: 100vh;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('../img/banner-prueba.jpg');
}


.recuadro {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.90); ; /* Color de fondo del div */
    border: white solid 5px;
    padding: 20px; /* Espacio interno del div */
    border-radius: 15px; /* Bordes redondeados */
    align-items: center;
    font-size: 2vw;
    justify-content: space-around;
}

.recuadro h2 {
    font-size: 3vw;
}

.izquierda {
    width: 90%;
    display: flex;
    align-items: center;
}

.derecha {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
}

@media (min-width: 718px) {
    .recuadro{
        flex-direction: row;
    }
    .izquierda {
        width: 30%;
        margin:2%;
    }
    .derecha {
        width: 70%;
        margin:2%;
    }
}

@media (min-width: 1500px) {
    .recuadro{
        flex-direction: row;
        font-size: xx-large;
    }
}

.fila_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}


.suscriptionbox {
    border: white solid medium;
    border-radius: 10px;
    background-color: grey;   
    display: flex;
    flex-direction: column;
    width: 30%;
}
.suscriptionbox:hover {
    cursor:pointer;
}
.bronze{
    background-color: rgb(197, 110, 40);   
}

.silver{
    background-color: silver;   
}

.gold{
    background-color: rgba(255, 217, 0, 0.658);   
}


.suscriptionbox:hover {
    background-color:rgb(27, 27, 27); /* Ajusta la opacidad para obtener el nivel de oscurecimiento deseado */
}

.precioanterior{
    text-decoration: line-through;
}

.diagonal-line{
    width: 50px;
    height: 10px;
    background-color: gold;
    transform: rotate(45deg);
}

.timer {
    border: 3px solid #ddd;
    border-radius: 20px;
    padding: 1%;
    margin: 0% 15%;
}

@media (min-width: 576px) {
    .timer{
        font-size: 20px;
    }
}

/* ------------------------------------- */
/* Estilos para la lista de productos */


/* ------------------------------------- */
/* Estilos para la lista de productos */

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
    height: 93%;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow:hidden;
}

.product-image img {
    max-width: 100%;
    padding: 20px;
    height: auto;
    border-radius: 5px 5px 0 0;
    position: relative;
}


.product-box-image{
    overflow:hidden;
}
.product-box-image::before{
    transform: translateY(0%);
}

.product-box-image::after {
    content: "Ver mas";
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    inset: 0;
    display: grid;
    place-items: center; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;   
    margin: 20px;
    transform: translateY(120%);


    
}



.product-box-image:hover::after{
    transform: translateY(0%);
    cursor: pointer;
}






.product-details {
    padding: 20px;
}

.product-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.1em;
    color: #28a745;
    margin-bottom: 15px;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}



.carousel-control-prev,
.carousel-control-next {
    
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* Ajusta el tamaño del área de clic según tus necesidades */
    height: 20px; /* Ajusta el tamaño del área de clic según tus necesidades */
  
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    position:absolute;
    top: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    border: solid 5px;
    border-color: black;

    cursor: pointer; /* Cambia el cursor al pasar sobre los controles */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* ------------------------------------------------------------------------------- */
/* Noticias */

.noticias{
    margin-top: 40px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.45); 
    background-blend-mode: darken;  
    color: white;
}




/* ------------------------------------------------------------------------------- */
/* FOOTER */

.footer{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.85); 
    background-blend-mode: darken;  
    color: white;
}

.hero-content {
    text-align: left; 
    padding: 2rem;
    color: white !important;

}
@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-content h2 {
    animation: slide-in-left 1.2s forwards; /* Aplicación de la animación */
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 3em;
}
.hero p {
    animation: slide-in-left 1.5s forwards; /* Aplicación de la animación */

}

.hero-content .btn {
    background-color: #d4af37;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    animation: slide-in-left 2s forwards; /* Aplicación de la animación */

}

.hero {
    background-image: url('../img/banner.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
